/Backup
/Library
/Temp
/.vs
/obj
/Build
/.vscode
*.sln
*.csproj

/Assets/Externals
/Assets/Externals.meta
/Assets/App/Fonts
/Assets/App/Fonts.meta

/Assets/Gaia
/Assets/Gaia.meta
/Assets/GPUInstancer
/Assets/GPUInstancer.meta


